
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
            <section class="stats">
        <%= render 'shared/stats' %>
      </section>

      <section class="entry_form">
        <%= render 'shared/entry_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Posts Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="row">
    <aside class="col-md-4">
<div class="center jumbotron">
  <h3>Welcome to Phorn Sopheak Blog.</h3>
  <h2>Sign up for following friends to write your feeling in your posts and comments on friend's posts.</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  </aside>
    <div class="col-md-8">
      <h3>Posts Feed (<%= @entries.count %>) </h3>
      <%= render 'shared/feed_all' %>
    </div>
  </div>

<% end %>