<li id="comment-<%= comment.id %>">
  <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <span class="user"><%= link_to comment.user.name, comment.user %></span>
  <span class="content"><%= comment.comment %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if current_user?(comment.user) %>
    <span class="btn btn-danger btn-xs colorlink">
      <%= link_to "delete", comment, method: :delete,
                                       data: { confirm: "Do you want to delete this comment?" } %>
                                       </span>
                                       <% end %>
  </span>
</li>